/* @import url('https://fonts.googleapis.com/css2?family=Sarabun:wght@800&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
html , body {
    background-color: rgb(216, 233, 243);
    margin: 0;
    padding: 0;
    /* font-family:'Sarabun', sans-serif; */
    
    
    font-family: 'Chakra Petch', sans-serif;
    
}

.main {
    max-width: 1000px;
    margin:auto;
}

.About {
    background-color: white;
    padding: 20px;
    margin: 30px;
}

.image {
    width: 100%;
  
}

.text{
    text-align: center;
}

.title {
    color: #000000;
    font-weight: 200;
} 

.end {
    background-color: rgb(248, 238, 248);
    padding: 20px;
    margin: 30px;
}



 